body {
    background-color: #EEEEEE;
}

.todolist {
    background-color: #FFF;
    padding: 20px 20px 40px 20px;
    width: 100%;
    position: relative;
}

.todolist h1 {
    margin: 0;
    padding-bottom: 20px;
    text-align: center;
}

.form-control {
    border-radius: 0;
}

li.ui-state-default {
    background: #fff;
    border: none;
    border-bottom: 1px solid #ddd;
}

li.ui-state-default:last-child {
    border-bottom: none;
}

.todo-footer {
    position: absolute;
    bottom: 0;
    background-color: #F4FCE8;
    margin: 0 -20px 0px -20px;
    padding: 10px 20px;
    width: 100%;
}

.task-items li {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.task-items.doneTasks li {
    text-decoration: line-through;
}

.task-items li:last-child {
    border-bottom: none;
}

#checkAll {
    margin-top: 10px;
}

.flex {
    display: flex;
    margin-top: 30px;
}

.flex-row {
    display: flex;
}